{% extends 'addons/master.html' %}
{% block bodyclasses %}no-nav-padding{% endblock %}
{% block mainclasses %}bg-tertiary-subtle{% endblock %}
{% block main %}
  <section class="py-5 mb-5 text-bg-secondary page-view">
    <div class="container">
      <h2>{{ page.title }}</h2>
    </div>
  </section>
  <div class="container page-content">
    {{ page.content | markdown | safe }}
  </div>
{% endblock main %}
