{% extends 'master.html' %}
{% block pagetitle %}Register - OpenLP Addons{% endblock %}
{% block extrastyles %}
    <link href="{{ url_for('static', filename='css/login.css') }}" rel="stylesheet">
{% endblock extrastyles %}
{% block bodyclasses %}d-flex align-items-center py-4 bg-body-tertiary{% endblock %}
{% block layout %}
</main>
<main class="form-login w-100 m-auto">
  <form action="{{ url_for('user.register_post') }}" method="post">
    <img class="mb-4" src="{{ url_for('static', filename='icons/openlp-logo.svg') }}" alt="" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">Register an account</h1>
    {% for category, message in get_flashed_messages(with_categories=True) %}
    <div class="alert alert-{{ category }}" role="alert">
      {{ message }}
    </div>
    {% endfor %}
    <div class="form-floating first">
      <input type="text" class="form-control" id="username" name="username" placeholder="nickname"{% if username %} value="{{ username }}"{% endif %}>
      <label for="username">Username</label>
    </div>
    <div class="form-floating middle">
      <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com"{% if email %} value="{{ email }}"{% endif %}>
      <label for="email">Email address</label>
    </div>
    <div class="form-floating last">
      <input type="password" class="form-control" id="password" name="password" placeholder="Password">
      <label for="password">Password</label>
    </div>

    <div class="form-check text-start my-3">
      <input class="form-check-input" type="checkbox" value="true" id="agree-tos" name="agree-tos">
      <label class="form-check-label" for="agree-tos">
        I agree to the <a href="{{ url_for('pages.view', slug='terms-of-service') }}">Terms of Service</a>
      </label>
    </div>
    <button class="btn btn-primary w-100 py-2 mb-1" type="submit">Register</button>
    <a class="btn btn-secondary w-100 py-2 mt-1" href="{{ url_for('addons.index') }}"><i class="bi bi-arrow-left"></i> Back to addons</a>
    <p class="mt-3 mb-3 text-body-secondary">Already have an account? <a href="{{ url_for('user.login') }}">Log in</a></p>
  </form>
</main>
{% endblock layout %}
