{% extends 'admin/master.html' %}
{% block extrascripts %}
<script src="{{ url_for('static', filename='js/update-slug.js') }}"></script>
{% endblock %}
{% block main %}
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h2 class="h2">{% if page %}Edit{% else %}New{% endif %} Page</h2>
          </div>
          <form action="{{ url_for('admin.save_page') }}{% if page %}/{{ page.id }}{% endif %}" method="post">
            <div class="mb-3">
              <label for="title" class="form-label">Title</label>
              <input type="text" class="form-control" id="title" name="title"{% if page %} value="{{ page.title }}"{% endif %}>
            </div>
            <div class="mb-3">
              <label for="slug" class="form-label">Slug</label>
              <div class="input-group">
                <input type="text" class="form-control" id="slug" name="slug"{% if page and page.slug %} value="{{ page.slug }}"{% endif %}>
                <button type="button" class="btn btn-outline-secondary" id="update-slug">Generate</button>
              </div>
            </div>
            <div class="mb-3">
              <label for="content" class="form-label">Content</label>
              <textarea class="form-control" id="content" name="content" rows="10">{% if page %}{{ page.content }}{% endif %}</textarea>
              <p class="form-text">Use <a href="https://commonmark.org/">Markdown</a> to add style to the page</p>
            </div>
            <div class="mb-3">
              <label for="status" class="form-label">Status</label>
              <select class="form-select" id="status" name="status" aria-label="Status of the page">
                {% for status in page_statuses %}
                <option value="{{ status.value }}"{% if page and page.status == status.value %}selected{% endif %}>{{ status.name }}</option>
                {% endfor %}
              </select>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <a href="{{ url_for('admin.pages') }}" class="btn btn-secondary">Cancel</a>
          </form>
{% endblock main %}
