{% extends 'admin/master.html' %}
{% block extrascripts %}
<script src="{{ url_for('static', filename='js/chart.umd.js') }}"></script>
<script type="application/javascript" defer>
  Chart.defaults.color = window.getComputedStyle(document.body).getPropertyValue("color");
  Chart.defaults.borderColor = window.getComputedStyle(document.getElementById("dashboard-title")).getPropertyValue("border-bottom-color");
  const totalAddons = document.getElementById("total-addons");
  const unreviewedAddons = document.getElementById("unreviewed-addons");
  const totalAttrs = totalAddons.attributes;
  const unreviewedAttrs = unreviewedAddons.attributes;
  new Chart(totalAddons, {
    type: 'doughnut',
    data: {
      labels: ['Themes', 'Plugins'],
      datasets: [{
        label: 'Number of addons',
        data: [totalAttrs.getNamedItem("data-chart-themes").value, totalAttrs.getNamedItem("data-chart-plugins").value]
      }]
    }
  });
</script>
{% endblock %}
{% block main %}
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom" id="dashboard-title">
            <h1 class="h2">Dashboard</h1>
          </div>
          <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
              <h5>Total Addons</h5>
              <canvas id="total-addons" data-chart-total="{{ total_addons }}" data-chart-themes="{{ total_themes }}" data-chart-plugins="{{ total_plugins }}"></canvas>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
              <h5>Unreviewed Addons</h5>
              <canvas id="unreviewed-addons"></canvas>
            </div>
          </div>
{% endblock main %}
