{% extends 'master.html' %}
{% block bodyclasses %}p-0{% endblock %}
{% block layout %}
    <nav class="navbar navbar-expand-lg bg-secondary-subtle border-bottom border-secondary-subtle">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('admin.index') }}">OpenLP Addons Dashboard</a>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <div class="sidebar border-end col-md-3 col-lg-2 p-0 bg-body-tertiary vh-100">
          <div class="offcanvas-md offcanvas-end bg-body-tertiary" tabindex="-1" id="sidebarMenu" aria-labelledby="sidebarMenuLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="sidebarMenuLabel">Addons</h5>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#sidebarMenu" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body d-md-flex flex-column p-0 pt-lg-3 overflow-y-auto">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link d-flex align-items-center gap-2 active" aria-current="page" href="{{ url_for('admin.index') }}">
                    <i class="bi bi-house"></i> Dashboard
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link d-flex align-items-center gap-2" href="{{ url_for('admin.review') }}">
                    <i class="bi bi-clipboard-check"></i> Review
                  </a>
                </li>
                {% if logged_in_user.is_admin %}
                <li class="nav-item">
                  <a class="nav-link d-flex align-items-center gap-2" href="{{ url_for('admin.pages') }}">
                    <i class="bi bi-file-text"></i> Pages
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link d-flex align-items-center gap-2" href="{{ url_for('admin.users') }}">
                    <i class="bi bi-people"></i> Users
                  </a>
                </li>
                {% endif %}
              </ul>
              <hr class="my-3">
              <ul class="nav flex-column mb-auto">
                <li class="nav-item">
                  <a class="nav-link d-flex align-items-center gap-2" href="{{ url_for('addons.index') }}">
                    <i class="bi bi-arrow-left-square"></i>
                    Back to site
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link d-flex align-items-center gap-2" href="{{ url_for('user.logout') }}">
                    <i class="bi bi-door-closed"></i>
                    Sign out
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
          {% block main %}{% endblock %}
        </main>
      </div>
    </div>
{% endblock layout %}
