{% extends 'admin/master.html' %}
{% block main %}
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h2 class="h2">Review {{ addon.addon_type }} {{ addon.title }}</h2>
          </div>
          {% for category, message in get_flashed_messages(with_categories=True) %}
          <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          {% endfor %}
          <form action="{{ url_for('admin.review_addon_post', addon_id=addon.id) }}" method="post">
            <div class="mb-3 row">
              <label for="title" class="col-sm-2 col-form-label">Title</label>
              <div class="col-sm-10">
                <input type="text" readonly class="form-control" id="title" value="{{ addon.title }}">
              </div>
            </div>
            <div class="mb-3 row">
              <label for="addon-type" class="col-sm-2 col-form-label">Type</label>
              <div class="col-sm-10">
                <input type="text" readonly class="form-control" id="addon-type" value="{{ addon.addon_type | title }}">
              </div>
            </div>
            <div class="mb-3 row">
              <label for="description" class="col-sm-2 col-form-label">Description</label>
              <div class="col-sm-10">
                <textarea readonly class="form-control" id="description" rows="10">{{ addon.description }}</textarea>
              </div>
            </div>
            <div class="mb-3 row">
              <label class="col-sm-2 col-form-label">Thumbnail</label>
              <div class="col-sm-10">
                <div class="form-control">
                  <img src="{{ url_for('addons.thumbnail', path=addon.thumbnail_path) }}" width="150">
                </div>
              </div>
            </div>
            <div class="mb-3 row">
              <label for="current-version" class="col-sm-2 col-form-label">Version</label>
              <div class="col-sm-10">
                <input type="text" readonly class="form-control" id="current-version" value="{{ addon.current_version.version }}">
              </div>
            </div>
            <div class="mb-3 row">
              <label for="file-path" class="col-sm-2 col-form-label">File name</label>
              <div class="col-sm-10">
                <div class="input-group">
                  <input type="text" readonly class="form-control" id="file-path" value="{{ addon.current_version.file_path.split('/')[-1] }}">
                  <a href="{{ url_for('addons.download', path=addon.current_version.file_path) }}" class="btn btn-outline-secondary">Download</a>
                </div>
              </div>
            </div>
            <div class="mb-3 row">
              <label class="col-sm-2 col-form-label">File list</label>
              <div class="col-sm-10">
                <ul class="form-control list-unstyled">
                  {% for filename in file_list %}
                  <li>{{ filename }}</li>
                  {% endfor %}
                </ul>
              </div>
            </div>
            <div class="mb-3">
              <div class="btn-group" role="group" aria-label="Review action">
                <input type="radio" class="btn-check" name="action" id="action-approve" value="approved" autocomplete="off">
                <label class="btn btn-outline-success" for="action-approve">Approve</label>
                <input type="radio" class="btn-check" name="action" id="action-deny" value="denied" autocomplete="off">
                <label class="btn btn-outline-danger" for="action-deny">Deny</label>
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <a class="btn btn-secondary" href="{{ url_for('admin.review') }}">Cancel</a>
          </form>
{% endblock main %}
