{% extends 'admin/master.html' %}
{% block main %}
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h2 class="h2">Users</h2>
          </div>
          {% for category, message in get_flashed_messages(with_categories=True) %}
          <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          {% endfor %}
          <table class="table">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">Admin</th>
                <th scope="col">Moderator</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for user in users %}
              <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{% if user.is_admin %}Yes{% else %}No{% endif %}</td>
                <td>{% if user.is_moderator %}Yes{% else %}No{% endif %}</td>
                <td><a href="{{ url_for('admin.edit_user', user_id=user.id) }}" class="btn btn-sm btn-primary">Edit</a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <nav aria-label="pagination">
            <ul class="pagination justify-content-center">
              <li class="page-item{% if page == 1 %} disabled{% endif %}">
                <a class="page-link" href="{{ url_for('admin.users', page=1) }}">First</a>
              </li>
              <li class="page-item{% if page == 1 %} disabled{% endif %}">
                <a class="page-link" href="{{ url_for('admin.users', page=page - 1) }}">Previous</a>
              </li>
              {%- if page > 1 -%}
              <li class="page-item"><a class="page-link" href="{{ url_for('admin.users', page=page - 1) }}">{{ page - 1 }}</a></li>
              {%- endif -%}
              <li class="page-item active" aria-current="page">
                <span class="page-link">{{ page }}</span>
              </li>
              {%- if page < page_total -%}
              <li class="page-item"><a class="page-link" href="{{ url_for('admin.users', page=page + 1) }}">{{ page + 1 }}</a></li>
              {%- endif -%}
              <li class="page-item{% if page == page_total %} disabled{% endif %}">
                <a class="page-link" href="{{ url_for('admin.users', page=page + 1) }}">Next</a>
              </li>
              <li class="page-item{% if page == page_total %} disabled{% endif %}">
                <a class="page-link" href="{{ url_for('admin.users', page=page_total) }}">Last</a>
              </li>
            </ul>
          </nav>
{% endblock main %}
