{% extends 'master.html' %}
{% block layout %}
<nav class="navbar navbar-expand-lg fixed-top bg-secondary-subtle">
  <div class="container">
    <a href="/" class="navbar-brand">
      <img src="{{ url_for('static', filename='icons/openlp-logo.svg') }}" alt="Logo" width="30" class="d-inline-block align-text-top">
      OpenLP Addons
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav-menu" aria-controls="nav-menu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="nav-menu">
      <ul class="navbar-nav me-auto">
        <li class="nav-item"><a href="{{ url_for('addons.index', addon_type='themes') }}" class="nav-link">Themes</a></li>
        <li class="nav-item"><a href="{{ url_for('addons.index', addon_type='plugins') }}" class="nav-link">Plugins</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Upload
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{{ url_for('addons.upload', addon_type='theme') }}">Theme</a></li>
            <li><a class="dropdown-item" href="{{ url_for('addons.upload', addon_type='plugin') }}">Plugin</a></li>
          </ul>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Help
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{{ url_for('pages.view', slug='install-a-theme') }}">Install a Theme</a></li>
            <li><a class="dropdown-item" href="/pages/install-a-plugin">Install a Plugin</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/pages/uploading-your-addon">Uploading Your Addon</a></li>
          </ul>
        </li>
        {% if logged_in_user %}
        {% if logged_in_user.is_moderator or logged_in_user.is_admin %}
        <li class="nav-item"><a href="{{ url_for('admin.index') }}" class="nav-link">Dashboard</a></li>
        {% endif %}
        <li class="nav-item"><a href="{{ url_for('user.logout') }}" class="nav-link">Log out</a></li>
        {% else %}
        <li class="nav-item"><a href="{{ url_for('user.login') }}" class="nav-link">Log in</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>

<main class="{% block mainclasses %}container{% endblock %}">
{% block main %}{% endblock %}
</main>

<footer class="bg-secondary-subtle py-5 mt-5">
  <div class="container">
    <p class="float-end mb-1">
      <a href="#">Back to top</a>
    </p>
    <p class="mb-1">OpenLP Addons is a place for the OpenLP community to share plugins and themes that they have made.</p>
    <p class="mb-0">This platform is open source, you can download the <a href="https://gitlab.com/openlp/addons-repo">source code</a>.</p>
  </div>
</footer>
{% endblock layout %}
